<h1> Please sign up</h1>

<form action='/users' method='post'>
	<input name="username" type='text' value="<%=@user.username%>" placeholder='Username'>
	<input name="email" type='text' value="<%=@user.email%>" placeholder='Email'>
	<input name="name" type='text' value="<%=@user.name%>" placeholder='Name'>
	<input name='password' type='password' placeholder='Password'>
	<input name='password_confirmation' type='password' placeholder='Confirm'>
	<input type='submit' value="Sign up">
</form>