<form class='box' action="/posts/reply/<%=@original_id%>" method="post">
	<textarea class='large-input' maxlength="140" rows="7" name="reply-text" placeholder='Spout your reply...'></textarea>
	<input class='button' type="submit" value="Reply">
</form>