<footer>
	<div class='header-footer-container'>
		<div id='me'>C. Dave Bayon 2014</div>
		<div id='site-details'>Shitstream was built in one weekend using Ruby, Sinatra, RSpec, Caybara, HTML and CSS.</div>
	</div>
</footer>