<header>
	<div class='header-footer-container'>
		<section id="logo">
			<a href="/"><img src="/images/logo.png"></a>
		</section>

		<section id="welcome-and-sign-out">
			<%if current_user %>
				<span id="welcome-message">
	 				<form id="sign-out" method="post" action="/sessions">
	 					<%= current_user.username %>
						<input type="hidden" name="_method" value="delete">
						<input class="button" type="submit" value="Sign out">
					</form>
				</span>
 			<% end %>
 		</section>
 	</div>
</header>