<div id="posts-container">
	<ul>
		<% if current_user %>
			<%= erb :nav %>
		<% end %>
		<% @posts.reverse.each do |post| %>
			<% user = User.first(:id => post.user_id) %>
			<% time = post.timestamp %>
			<%= partial :post, :locals => {:post => post, :user => user, :time => time} %>
		<% end %>
	</ul>
</div>