 

<ul>
	<% @posts.reverse.each do |post| %>
		<% user = User.first(:id => post.user_id) %>
		<% time = post.timestamp %>
		<li><%= post.text %> - <%= user ? user.username : "Deleted user" %> <%= time.strftime("posted at %I:%M%p on %d/%m/%y") %></li>
	<% end %>
</ul>