<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Chitter</title>
</head>
<body>
		<%= erb :header %>
	
		<div id="body-container">
			
			<section id="left-column">
				<%= erb :"left-column" %>
			</section>

			<%= yield %>

		</div>

		<%= erb :footer %>
</body>
</html>