<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Chitter</title>
</head>
<body>
	<%= erb :header %>

	<% if flash[:notice] %>
		<div id="notice">
			<%= flash[:notice] %>
		</div>
	<% end %>

	<% if flash[:errors] && !flash[:errors].empty? %>
		<ul id='errors'>
			<% flash[:errors].each do |error| %>
				<li><%= error %></li>
			<% end %>
		</ul>
	<% end %>

	<%= yield %>
</body>
</html>